body {
    color: rgb(24, 0, 160);
    background: rgb(0, 32, 175);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(0, 32, 175);
    padding: 20px;
    font-size: 32px;
    color: rgb(20, 0, 131);
}

section {
    background: rgb(14, 25, 175);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}