body {
    color: rgb(24, 143, 255);
    background: rgb(19, 56, 223);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(24, 143, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(19, 56, 223);
}

section {
    background: rgb(14, 25, 175);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}