body {
    color: rgb(192, 2, 2);
    background: rgb(71, 8, 8);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(102, 15, 15);
    padding: 20px;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.856);
}

section {
    background: rgb(218, 22, 22);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}